<div class="section" *ngIf="!notFound">
    <section class="info-company">
      <div class="container">
      <div class="info-box pb-0 d-flex flex-column w-100">
        <div class="row mx-0 pt-4 px-3 w-100">
          <div class="col-12 col-xl-2 d-flex flex-column align-items-center justify-content-center">
            <picture class="user-profile">
              <img [src]="company?.logotipo" [alt]="company?.fantasy_name" *ngIf="company?.logotipo">
              <img src="assets/default_profile.jpg" [alt]="company?.fantasy_name" *ngIf="!company?.logotipo">
            </picture>
          </div>
          <div class="col-12 col-md-8 col-xl-8 my-3 my-xl-0">
            <h1 class="mb-3 title-company">{{ company?.fantasy_name }}</h1>
            <p class="mb-2">{{ company?.description }}</p>
            <a mat-button target="_blank" [href]="'https://'+company?.website" class="mt-2">
              <mat-icon class="mr-2">open_in_new </mat-icon> Abrir Site
            </a>
          </div>
          <div class="col-12 col-md-4 col-xl-2">
            <div class="total-rate h-100">
              <span class="mb-3 media">Média Geral</span>
              <div class="d-flex flex-row align-items-center">
                <h1 class="mb-0">{{ company?.media }}</h1><span class="material-icons ml-1" style="color: var(--yellow); font-size: 26px;">grade</span>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-wrapper w-100">
          <ul class="menu-list">
            <li matRipple [ngClass]="{'active': checkUrl('') }">
              <a [routerLink]="['/company/'+id]">Empresa</a>
            </li>
            <li matRipple [ngClass]="{'active': checkUrl('products') }">
              <a [routerLink]="['/company/'+id+'/products']">Produtos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </section>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="notFound">
  <div class="container d-flex flex-row align-items-center justify-content-center" style="min-height: 90vh;">
    <div class="row">
        <div class="col-12 col-xl-4">
          <img src="assets/img/notfound.svg" alt="" class="w-100">
        </div>
        <div class="col-12 col-xl-8">
          <h1 style="color:#7720fa; font-weight: 600;">Não foi possivel encontrar essa página!</h1>
          <p style="font-size: 16px; color: #666;">Isso aconteceu porque este link está quebrado.</p>
          <span>O que faço agora?</span>
          <ul class="mt-2">
            <li>
              Retorne para a <a href="/">página inicial</a>.
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
