<nav>
  <div class="ck-navbar ng-star-inserted">
    <div class="container">
       <div class="row m-0">
          <div class="col-12 col-lg-2 d-flex align-self-center justify-content-center">
             <a href="/">
                <picture><img height="37px" class="logo-full" src="assets/logo.svg"></picture>
             </a>
          </div>
          <div class="col-12 col-lg-10 d-flex align-self-center mt-3 mt-xl-0 pb-3">
             <div class="list-step-wrapper">
                <div class="ls-progress">
                   <div class="ls-progressbar" style="width: 50%;"></div>
                </div>
                <div class="ls-steps">
                   <div class="ls-step active" >
                      <div class="fill"><span class="material-icons"> done </span></div>
                      <div class="ls-text"> Autenticação </div>
                   </div>
                   <div class="ls-step active">
                      <div class="fill"><span class="material-icons"> person </span></div>
                      <div class="ls-text"> Pagamento </div>
                   </div>
                   <a class="ls-step">
                      <div class="fill"></div>
                      <div class="ls-text"> Obrigado! </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</nav>
<div class="ck-body">
  <div class="container pt-4">
    <div class="row">
      <div class="col-4">
        <div class="ck-box mb-3">
          <div class="ck-header border-bottom">
            <span class="ck-title ">
              Assinatura
            </span>
          </div>
          <div class="ck-box-body">
            <div class="row mx-0">
              <div class="col-3">

              </div>
              <div class="col-9">
                <div class="d-flex flex-column">
                  <span style="font-size: 14; color: #666; text-transform: uppercase; font-weight: 600;">Plano</span>
                  <span class="ck-plan-title mb-2">Compra Válida Basic</span>
                  <div class="d-flex flex-column">
                    <span style="font-size: 14; color: #666; text-transform: uppercase; font-weight: 600;">Preço</span>
                    <div class="d-flex flex-row align-items-center">
                      <span class="ck-plan-price">R$ 29,90</span>
                      <p class="pl-2 mb-0" style="color: #666;">(p/m)*</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ck-box-body border-top">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <span class="ck-total">Total</span>
              <span class="ck-plan-price" style="font-size: 18px;">R$ 29,90</span>
            </div>
          </div>
        </div>
        <div class="ck-box mb-3">
          <div class="ck-header border-bottom">
            <span class="ck-title ">
              Minha Conta
            </span>
          </div>
          <div class="ck-box-body">
            <div class="d-flex flex-column">
              <div class="d-flex flex-row align-items-center mb-2">
                <span style="font-size: 14; color: #666; text-transform: uppercase; font-weight: 600;" class="mr-2">Nome Fantasia</span>
                <span class="ck-plan-title">Berlanda</span>
              </div>
              <div class="d-flex flex-row align-items-center mb-2">
                <span style="font-size: 14; color: #666; text-transform: uppercase; font-weight: 600;" class="mr-2">CNPJ</span>
                <span class="ck-plan-title">0000000000</span>
              </div>
              <div class="d-flex flex-row align-items-center mb-2">
                <span style="font-size: 14; color: #666; text-transform: uppercase; font-weight: 600;" class="mr-2">E-mail</span>
                <span class="ck-plan-title">email@email.com.br</span>
              </div>
            </div>
            <div class="mb-3">
              <span style="font-size: 14; color: #666; text-transform: uppercase; font-weight: 600;" class="mb-2 d-block">Endereço</span>
              <div class="border p-2" style="border-radius: 5px;">
                aa
              </div>
            </div>
            <span style="font-size: 14; color: #666; text-transform: uppercase; font-weight: 600;" class="mb-2 d-block">Proprietário</span>
            <div class="border p-2" style="border-radius: 5px;">
              aa
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="ck-box">
          <h2 class="p-3 border-bottom">Pagamento</h2>
          <div class="ck-box-body">
            <form [formGroup]="cartForm">
              <div class="row mx-0">
                <div class="col-12">

                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Nome impresso no cartão</mat-label>
                      <input matInput placeholder="Fulano A da Silva">
                    </mat-form-field>


                    <mat-form-field appearance="outline"  class="w-100">
                      <mat-label>Número do Cartão</mat-label>
                      <input matInput placeholder="0000 0000 0000 0000">
                    </mat-form-field>

                </div>
              </div>
              <div class="row mx-0">
                <div class="col-4">

                    <mat-form-field appearance="outline">
                      <mat-label>Validade</mat-label>
                      <input matInput placeholder="00/0000">
                    </mat-form-field>

                </div>
                <div class="col-4">

                    <mat-form-field appearance="outline">
                      <mat-label>CVV</mat-label>
                      <input matInput placeholder="0000">
                    </mat-form-field>

                </div>
              </div>
              <button mat-button class="payment-button">
                <mat-icon>credit_card</mat-icon>
                <span>
                  Pagar assinatura
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
