.ck-navbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 15px 0;
  background-color: rgb(var(--navbar));
}

.list-step-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 10px;
  font-size: 14px;
}

.list-step-wrapper .ls-progress {
  width: 100%;
  background-color: #eee;
  overflow: hidden;
  height: 5px;
  display: block;
}

.list-step-wrapper .ls-steps {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -20px;
}

.list-step-wrapper .ls-step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.list-step-wrapper .ls-step .fill {
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.list-step-wrapper .ls-step .ls-text {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  width: 95px;
}

.list-step-wrapper .ls-step .ls-text {
  color: #666;
  top: 45px;
}

.list-step-wrapper .ls-step.active .ls-text {
  color: #7920fa;
  top: 45px;
}

.list-step-wrapper .ls-progressbar {
  background-color: #7920fa;
  display: block;
  height: 100%;
}

.list-step-wrapper .ls-step.active .fill {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #fff!important;
  border: 2px solid #7920fa;
  color: #7920fa;
  display: flex;
  align-items: center;
  justify-content: center;
  .material-icons {
    font-size: 18px;
  }
}

.ck-body {
  min-height: 90vh;
  background-color: #eaedf1;
}

.ck-box {
  background-color: #fff;
  border-radius: 5px;
  .ck-header {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
    .ck-title {
      font-size: 16px;
      font-weight: 600;
      color: #333;
    }
  }
  .ck-box-body{
    padding: 15px;
    .ck-plan-title {
      font-weight: 500;
      color: #333;
      font-size: 14px;
    }
    .ck-plan-price {
      font-size: 16px;
      color: var(--green);
      font-weight: 500;
    }
    .ck-total {
      font-size: 16px;
      color: #333;
      font-weight: 500;
    }
  }
}

.payment-button {
  height: 45px;
  width: 100%;
  background-color: var(--green);
  color: #fff;
}


.row-products {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.input-product {
  -webkit-flex: 1 1 30%;
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
  input {
    display: none;
  }
  .box-product:first {
    margin-left: 0;
  }
  .type {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
  }
  .type-title {
    color: #333;
    font-weight: 700;
  }
  .price-row {
    display: flex;
    flex-direction: row;
    position: relative;
    .unit {
      font-size: 18px;
      position: absolute;
      top: -2px;
      font-weight: 500;
      left: 0;
    }
    .price {
      font-size: 28px;
      font-weight: 600;
      display: block;
      margin-left: 26px;
    }
    .per-month {
      margin-left: 8px;
      color:  #7920fa;
    }
  }
  .box-product {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #d4d4d4;
    margin: 0 10px;
    padding: 15px;
    min-height: 200px;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    &:hover {
      transition: all ease-in-out 250ms;
      transform: scale(1.1);
    }
  }
  input:checked {
    & ~ .box-product {
      border: 2px solid #7920fa;
      background-color: #7920fa;
      .type {
        color: #ffffff9e;
        font-size: 12px;
        font-weight: 400;
      }
      .type-title {
        color: #fff;
        font-weight: 700;
      }
      .price-row {
        .unit {
          color: #fff;
        }
        .price {
          color: #fff;
        }
        .per-month {
          color: #fff;
        }
      }
    }
  }

}

.card-credit {
  height: 180px;
  max-width: 315px;
  border-radius: 10px;
  margin: auto;
  position: relative;
  border: 1px solid #d8d8d8;
  background: #fff;
  color: #666;

  @media (max-width: 991.91px) and (min-width: 0){
    height: 175px;
    max-width: 265px;
  }

  .card-expired {
    position: absolute;
    right: 30px;
    bottom: 21px;
  }
  .card-name {
    position: absolute;
    bottom: 20px;
    text-transform: uppercase;
    left: 30px;
  }
  .card-number {
    position: absolute;
    bottom: 56px;
    left: 30px;
    font-size: 21px;
  }
  svg {
    position: absolute;
    left: 24px;
    top: 43px;
    height: 49px;
  }
}
