<nav>
  <div class="ck-navbar ng-star-inserted">
    <div class="container">
       <div class="row m-0">
          <div class="col-12 col-lg-2 d-flex align-self-center justify-content-center">
             <a href="/">
                <picture><img height="37px" class="logo-full" src="assets/logo.svg"></picture>
             </a>
          </div>
          <div class="col-12 col-lg-10 d-flex align-self-center mt-3 mt-xl-0 pb-3">
             <div class="list-step-wrapper">
                <div class="ls-progress">
                   <div class="ls-progressbar" style="width: 50%;"></div>
                </div>
                <div class="ls-steps">
                   <div class="ls-step active" >
                      <div class="fill"><span class="material-icons"> done </span></div>
                      <div class="ls-text"> Autenticação </div>
                   </div>
                   <div class="ls-step active">
                      <div class="fill"><span class="material-icons"> person </span></div>
                      <div class="ls-text"> Pagamento </div>
                   </div>
                   <a class="ls-step">
                      <div class="fill"></div>
                      <div class="ls-text"> Obrigado! </div>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <p class="mb-0">Compra Válida. Todos os direitos reservados.</p>
</footer>

