<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex flex-column">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="assets/logo.svg" alt="" style="height: 40px; width: auto;">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Consumidor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/stores']">Lojas</a>
        </li>
      </ul>
      <button mat-icon-button  (click)="openSearch()" class="search-button">
        <mat-icon>
          {{ searchStatus ? 'close' : 'search' }}
        </mat-icon>
      </button>
      <div class="d-flex flex-row align-items-center" *ngIf="!sAtuth.currentUserValue">
        <a mat-button [routerLink]="'/login'" style="text-decoration: none;" class="mr-2">
          <span class="material-icons mr-2">
            login
            </span>
             Entre
        </a>
        <button mat-flat-button color="primary" [routerLink]="'/register'" >
          Cadastre-se
        </button>
      </div>
      <div class="d-flex flex-row align-items-center" *ngIf="sAtuth.currentUserValue">
        <button class="logged-button" [matMenuTriggerFor]="menu" >
          <picture>
            <img *ngIf="sAtuth.currentUserValue?.logotipo.length <= 0" src="assets/default_profile.jpg" [alt]="sAtuth.currentUserValue?.fantasy_name">
            <img *ngIf="sAtuth.currentUserValue?.logotipo.length > 0" [src]="sAtuth.currentUserValue?.logotipo" [alt]="sAtuth.currentUserValue?.fantasy_name">
          </picture>
          <span>
            {{ sAtuth.currentUserValue.fantasy_name }}
          </span>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item [routerLink]="['/app/user']">
            <mat-icon>person</mat-icon>
            Minha Conta
          </button>
          <button mat-menu-item [routerLink]="['/app','configuration']">
            <mat-icon>settings</mat-icon>
            Configurações
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Sair
          </button>
        </mat-menu>
      </div>
    </div>
    </div>
    <div class="container w-100" *ngIf="searchStatus">
      <form [formGroup]="searchForm" class="form-inline  w-100 my-2 d-flex">
        <input class="form-control" id="search" formControlName="search" type="text" placeholder="Pesquise por lojas :)" aria-label="Search">
        <button class="search-button" type="submit" matRipple>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
  </nav>

</header>
