<div class="notification mb-4">
  <h1>Sua conta está em análise!</h1>
  <span>Logo você receberá um retorno por e-mail.</span>
</div>

<div class="row">
  <div class="col-4">
    <div class="box-row media">
      <div class="box-header">
        <h1 class="box-title">
          Média Total
        </h1>
      </div>
      <div class="box-body">
        <div class="media-total">
          <div class="d-flex flex-row align-items-center mb-3">
            <h4 class="mb-0 mr-2">4.5</h4>
            <mat-icon class="mat-18" style="color: var(--yellow)">grade</mat-icon>
          </div>
          <span class="type-media">Ótima</span>
        </div>

      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="box-row ">
      <div class="box-header">
        <h1 class="box-title">
          Total de avaliações
        </h1>
      </div>
      <div class="box-body">

      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="box-row ">
      <div class="box-header">
        <h1 class="box-title">
          Total de cliques
        </h1>
      </div>
      <div class="box-body">
        <div class="media-total">
          <div class="d-flex flex-row align-items-center mb-3">
            <h4 class="mb-0 mr-2">4.5</h4>
            <mat-icon class="mat-18" style="color: var(--yellow)">grade</mat-icon>
          </div>
          <span class="type-media">Ótima</span>
        </div>

      </div>
    </div>
  </div>
  <div class="col-8 mt-3">
        <div class="box-row ">
      <div class="box-header">
        <h1 class="box-title">
          Avaliações por tipo
        </h1>
      </div>
      <div class="box-body">
        <div class="media-total">
          <div class="d-flex flex-row align-items-center mb-3">
            <h4 class="mb-0 mr-2">4.5</h4>
            <mat-icon class="mat-18" style="color: var(--yellow)">grade</mat-icon>
          </div>
          <span class="type-media">Ótima</span>
        </div>

      </div>
    </div>
  </div>
  <div class="col-4 mt-3">
    <div class="box-row ">
    <div class="box-header">
    <h1 class="box-title">
      Médias
    </h1>
  </div>
  <div class="box-body">
    <div class="media-total">
      <div class="d-flex flex-row align-items-center mb-3">
        <h4 class="mb-0 mr-2">4.5</h4>
        <mat-icon class="mat-18" style="color: var(--yellow)">grade</mat-icon>
      </div>
      <span class="type-media">Ótima</span>
    </div>

    </div>
  </div>
  </div>
  <div class="col-6 mt-3">
    <div class="box-row ">
    <div class="box-header">
    <h1 class="box-title">
      Produtos mais avaliados
    </h1>
  </div>
  <div class="box-body">
    <div class="media-total">
      <div class="d-flex flex-row align-items-center mb-3">
        <h4 class="mb-0 mr-2">4.5</h4>
        <mat-icon class="mat-18" style="color: var(--yellow)">grade</mat-icon>
      </div>
      <span class="type-media">Ótima</span>
    </div>

    </div>
  </div>
  </div>
</div>
