<div class="login-wrapper">
  <div class="d-flex flex-column align-items-center justify-content-center h-100 py-3">
    <a [routerLink]="['/']" class="mb-3">
      <picture class="d-block ">
        <img src="assets/logo.svg" alt="" style="max-height: 45px; min-width: 150px;">
      </picture>
    </a>
    <div class="box-login px-4 pt-4 pb-2" >
      <h1 class="display-4">Bem-vindo!</h1>
      <span class="title-info">Insira sua credenciais para continuar</span>
      <div *ngFor="let alert of alerts; let i = index" class="mt-2">
        <ngb-alert  [type]="alert.type" (closed)="close(i)" [dismissible]="true">
          {{ alert.error }}
        </ngb-alert>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="my-3">
        <p class="mb-0">
          <mat-form-field appearance="outline" class="w-100" style="height: 70px;">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput formControlName="email" >
            <mat-icon matPrefix style="color: #666;"  class="mr-2">person</mat-icon>
          </mat-form-field>
        </p>
        <div class="text-right mb-2">
          <a [routerLink]="['/forget-email']" ><small>Esqueci meu e-mail</small></a>
        </div>
        <p class="mb-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Senha</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
            <mat-icon matPrefix style="color: #666;" class="mr-2"> lock</mat-icon>
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
        <div class="text-right mb-2">
          <a  [routerLink]="['/forget-password']" ><small>Esqueci minha senha</small></a>
        </div>
        <button mat-flat-button color="primary" type="submit" class="w-100" style="height: 50px;" [disabled]="disabled">
          {{ isLoading ? '' : 'Entrar'}}
          <mat-spinner diameter="28" *ngIf="isLoading" class="m-auto"></mat-spinner>
        </button>
        <p class="mt-3">Não possui conta? <a [routerLink]="['/register']">Clique aqui</a> para se cadastrar.</p>
      </form>
    </div>
  </div>
</div>
