.login-cap {
  background-image: url('https://app.juno.com.br/assets/images/login/bg-login7.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding:  0 3rem;
  h1 {
    color: #fff;
    font-size: 3rem;
  }
}

.display-4 {
  color: #7920fa;
  font-size: 2rem;
}

.title-info {
  font-size: 16px;
  color: #666;
  font-weight: 500;
}

.mat-form-field {
  line-height: 1.825;
}

.box-login {
  max-width: 375px;
  min-width: 375px;
  @media (max-width: 991.91px) and (min-width: 0) {
    max-width: 290px;
    min-width: 290px;
  }
}

.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #dde8fe63 ;
}

.box-login {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(181 193 220);
  a {
    color: #7920fa;
  }
}
