<div class="section" style="background: #f3f3f3;">
  <div class="container h-100">
    <div class="d-flex flex-row align-items-center justify-content-center h-100" style="min-height: 90vh;">
      <div style="max-width: 368px; min-width: 368px" class="p-3">
        <h1 class="display-4">Bem-vindo!</h1>
        <span>Faça seu login para continuar.</span>
        <p *ngFor="let alert of alerts; let i = index">
          <ngb-alert  [type]="alert.type" (closed)="close(i)" [dismissible]="true">
            {{ alert.error }}
          </ngb-alert>
        </p>
        <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="my-3 p-3" style=" background-color: #fff; border-radius: 5px;">
          <p>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>E-mail</mat-label>
              <input type="email" matInput formControlName="email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Senha</mat-label>
              <input type="password" matInput formControlName="password">
            </mat-form-field>
          </p>
          <button mat-flat-button color="primary" type="submit" class="w-100" style="height: 50px;" [disabled]="disabled">
            {{ isLoading ? '' : 'Entrar'}}
            <mat-spinner diameter="28" *ngIf="isLoading" class="m-auto"></mat-spinner>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
