<h1>
  Avaliações
</h1>
<div class="box p-0">
  <div class="box-header">
  </div>
  <div class="box-body">
    <table class="table">
      <thead>
        <tr style="height: 61px;">
          <th scope="col" style="width: 50px;">
            <mat-checkbox color="primary"  ></mat-checkbox>
          </th>
          <th scope="col" style="vertical-align: middle;">Tipo</th>
          <th scope="col" style="vertical-align: middle;">Usuário</th>
          <th scope="col" style="vertical-align: middle;">Avaliação</th>
          <th scope="col" style="vertical-align: middle;">Likes</th>
          <th scope="col" style="vertical-align: middle;">Deslikes</th>
          <th scope="col" style="vertical-align: middle; text-align: end;">
            <div  class="d-flex flex-row align-items-center justify-content-end">
              <button matRipple class="selecteds-action delete" color="warn" >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
