<div class="menu-inner-wrapper p-3">
  <div class="user-infos">

  </div>

  <div class="flex-row flex-column mt-3 p-3">
    <label class="info-title">Senha</label>
    <p class="info-text">Solicite uma alteração de senha clicando no botão abaixo. Você receberá um e-mail para prosseguir.</p>
    <button mat-flat-button color="primary">Alterar senha</button>
  </div>

  <div class="flex-row flex-column mt-3 p-3">
    <label class="info-title">Remoção de conta</label>
    <p class="info-text">Desativar a conta significa que você poderá recuperá-la quando quiser.</p>
    <div class="d-flex flex-row align-items-center">
      <button mat-flat-button color="warn" class="mr-3">Desativar conta</button>
      <button mat-stroked-button color="warn">Excluir conta</button>
    </div>
  </div>

</div>
