<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">
        <div class="container d-flex flex-column  justify-content-center" style="min-height: 60vh;">
          <div class="mb-3">
            <h1>Lojas que você confiar!</h1>
            <p>Empresas que você pode confiar e comprar sem medo!</p>
          </div>
          <div class="search">
            <input type="text" name="" id="" placeholder="Pesquise por lojas...">
            <button mat-icon-button color="primary">
                <mat-icon> search </mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 ">
        <div class="bg-image"></div>
      </div>
    </div>
  </div>
</section>
