.box {
  background-color: #fff;
  border-radius: 5px;
}


.img-product {
  background-color: #eee;
  margin: auto;
  border-radius: 5px;
  min-width: 230px;
  max-width: 230px;
  display: block;
  max-height: 230px;
  height: 230px;
  overflow: hidden;
  img {
    max-width: 230px;
    max-height: 230px;
  }
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  .category-button {
    width: 100%;
    min-height: 45px;
    padding: 10px 15px;
    appearance: none;
    border: none;
    text-align: start;
    display: flex;
    outline: 0;
    align-items: center;
  }
  .category-sub {
    padding-left: 25px !important;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      min-height: 45px;
    }
  }
}



.clt, .clt ul, .clt li {
  position: relative;
}

.clt ul {
 list-style: none;
 padding-left: 32px;
}

.clt li::before, .clt li::after {
  content: "";
  position: absolute;
  left: -12px;
}

.clt li::before {
  border-top: 1px solid #000;
  top: 9px;
  width: 8px;
  height: 0;
}

.clt li::after {
  border-left: 1px solid #000;
  height: 100%;
  width: 0px;
  top: 2px;
}

.clt ul > li:last-child::after {
  height: 8px;
}

.attributes {
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 10px 10px 0px 10px;
}


.tree-category {
  display: flex;
  flex-direction: row;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #eee;
    li {
      position: relative;
      margin-right: 30px;
      color: #666;
      font-weight: 500;
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: -20px;
        font-family: "Material Icons";
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        font-weight: 600;
        color: #7920fa;
        content: "\e5cc";
        font-size: 18px;
      }
      &:last-of-type {
        &:after {
          display: none
        }
      }
    }
  }
}

.loading-category {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(255 255 255 / 46%);
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: center;
}
