<div class="sidebar-menu-wrapper">
  <ul class="sidebar-menu">
    <li class="sb-item" [ngClass]="{ 'active': checkUrl('') }">
      <a class="sb-link" [routerLink]="['/admin']"  >
        <mat-icon >home</mat-icon>
        Painel
      </a>
    </li>
    <li class="sb-item" [ngClass]="{ 'active': checkUrl('user') }">
      <a class="sb-link" [routerLink]="['/admin/users']"  >
        <mat-icon >perm_identity</mat-icon>
        Usuários
      </a>
    </li>
    <li class="sb-item exit">
      <button class="sb-link" (click)="logout()">
        <mat-icon >exit_to_app</mat-icon>
        Sair
      </button>
    </li>
  </ul>
</div>
