<div class="sidebar-menu-wrapper">
  <ul class="sidebar-menu">
    <li class="sb-item" [ngClass]="{ 'active': checkUrl('') }">
      <a class="sb-link" [routerLink]="['/admin']"  >
        <mat-icon >home</mat-icon>
        Painel
      </a>
    </li>
    <li class="sb-item" [ngClass]="{ 'active': checkUrl('payment') }">
      <a class="sb-link" [routerLink]="['/admin/payment']"  >
        <mat-icon >payments</mat-icon>
        Pagamentos
      </a>
    </li>
    <li class="sb-item" [ngClass]="{ 'active': checkUrl('configuration') }">
      <a  class="sb-link" [routerLink]="['/admin/configuration']"  >
        <mat-icon >settings</mat-icon>
        Configuração
      </a>
    </li>
    <li class="sb-item" [ngClass]="{ 'active': checkUrl('user') }">
      <a  class="sb-link" [routerLink]="['/admin/user']" >
        <mat-icon >perm_identity</mat-icon>
        Minha conta
      </a>
    </li>
    <li class="sb-item exit">
      <button class="sb-link" (click)="logout()">
        <mat-icon >exit_to_app</mat-icon>
        Sair
      </button>
    </li>
  </ul>
</div>
