<div class="container d-flex flex-row align-items-center justify-content-center" style="min-height: 90vh;">
  <div class="row">
      <div class="col-12 col-xl-4">
        <img src="assets/img/notfound.svg" alt="" class="w-100">
      </div>
      <div class="col-12 col-xl-8">
        <h1 style="color:#7720fa; font-weight: 600;">Não foi possivel encontrar essa página!</h1>
        <p style="font-size: 16px; color: #666;">Isso aconteceu porque este link está quebrado.</p>
        <span>O que faço agora?</span>
        <ul class="mt-2">
          <li>
            Retorne para a <a href="/">página inicial</a>.
          </li>
        </ul>
      </div>
  </div>
</div>
