<div class="section" style="background: #dde8fe63; ">
  <div class="container d-flex flex-column align-items-center justify-content-center py-3" style="min-height: 100vh">
    <a [routerLink]="['/']" class="mb-4">
      <picture class="d-block ">
        <img src="assets/logo.svg" alt="" style="max-height: 45px; min-width: 150px;">
      </picture>
    </a>
    <div class="box-register ">
      <div class="features">

      </div>
      <div class="register-wrapper">
        <div class="mb-5">
          <h2 class="mb-0">Registre-se</h2>
          <p>Preencha todos os campos para continuar.</p>
          <ul class="steppers">
            <li  *ngFor="let step of steps" [ngClass]="{ 'active' : step.status === true }"></li>
          </ul>
        </div>
        <div *ngFor="let alert of alerts; let i = index" class="mt-2">
          <ngb-alert  [type]="alert.type" (closed)="close(i)" [dismissible]="true">
            {{ alert.error }}
          </ngb-alert>
        </div>
       <div>
        <form [formGroup]="registerForm" (ngSubmit)="submitStep(1)" *ngIf="currentStep == 1">
          <div class="d-flex flex-column">
            <mat-form-field appearance="outline">
              <mat-label>Nome completo</mat-label>
              <input matInput type="name" placeholder="Seu nome completo" formControlName="name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput type="email" placeholder="Ex.: email@gmail.com" formControlName="email"  required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput type="password" placeholder="••••••••••••" formControlName="password"  required>
            </mat-form-field>

          <div class="d-flex flex-row align-items-end justify-content-end">
          <button mat-flat-button color="primary">Continuar</button>
         </div>
        </div>
        </form>
        <form [formGroup]="cpfForm" *ngIf="currentStep == 2"(ngSubmit)="submitStep(2)">
          <div  class="d-flex flex-column">
            <mat-form-field appearance="outline">
              <mat-label>CPF</mat-label>
              <input matInput type="text" placeholder="000.000.000-00" formControlName="cpf"  required>
            </mat-form-field>
            <div class="d-flex flex-column mb-3">
              <label style="color: #666; font-weight: 600;">Gênero</label>
              <mat-radio-group formGroupName="gender" required>
                <mat-radio-button value="M" class="mr-2" >Masculino</mat-radio-button>
                <mat-radio-button value="F" class="mr-2">Feminino</mat-radio-button>
                <mat-radio-button value="O" >Outro</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="d-flex flex-row align-items-end justify-content-end">
            <button mat-stroked-button color="primary" type="button" (click)="goStep(1)" class="mr-2">Voltar</button>
            <button mat-flat-button color="primary" type="submit">Continuar</button>
           </div>
        </form>
        <div *ngIf="currentStep == 3">
          Obrigado!
        </div>
    </div>
  </div>
</div>
